aiohttp==3.8.4
aiosignal==1.3.1
altgraph
async-timeout==4.0.2
attrs==22.2.0
beckett==0.8.0
blinker==1.6.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cmudict==1.0.13
consoledraw==2.3.13
contourpy==1.0.7
cycler==0.11.0
et-xmlfile==1.1.0
filelock==3.12.2
Flask==1.1.2
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.6.0
future
huggingface-hub==0.15.1
idna==3.4
imageio==2.27.0
importlib-metadata==5.2.0
importlib-resources==5.12.0
inflect==0.2.5
itsdangerous==2.1.2
Jinja2==3.1.2
jsonlines==3.1.0
kiwisolver==1.4.4
macholib
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
nose==1.3.7
numpy==1.25.0
openai==0.25.0
opencv-python==4.7.0.72
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
pandas-stubs==2.0.2.230605
Pillow==9.5.0
protobuf==4.23.3
pyparsing==3.0.9
python-axolotl==0.1.39
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.10.0
safetensors==0.3.1
scipy==1.10.1
simplejson==3.19.1
six==1.10.0
syllables==1.0.7
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.30.2
types-pytz==2023.3.0.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.15
Werkzeug==2.2.3
yarl==1.8.2
yowsup2==2.5.2
zipp==3.15.0
